// colors
$color-white: #f0f0f0;
$color-white-bg: #fff;
$color-black: #000;
$color-light-black: #172337;
$color-brand-orange: #fb641b;
$color-brand-blue: #2874f0;
$color-brand-bbd: #2455f4;
$color-brand-footer: #172337;
$color-brand-blue-lighter: #7accff;
$color-brand-blue-lighter1: #dfeafd;
$color-blue-lighter1: #b3d7ff;
$color-primary-yellow: #ffe11b;
$color-yellow-grade1: #fff7e1;
$color-yellow-grade2: #fef8e0;
$color-purple: #5f4eeb;
$color-offer-green: #388e3c;
$color-green-grade0: #26a541;
$color-green-grade1: #e9f2e9;
$color-green-grade2: #e6f4e8;
$color-green-grade3: #e6f3e6;
$color-green-grade4: #008c00;
$color-yellowish-orange: #ff9f00;
$color-flash-green: #11c29b;
$color-error-red: #ff6161;
$color-error-red2: #ff4343;
$color-error-red3: #ffeaed;
$color-error-red4: #dd5354;
$color-error-red5: #d23276;
$color-error-red6: #e4001e;
$color-grey-grade0: #fafafa;
$color-grey-grade1: #f0f0f0;
$color-grey-grade2: #e0e0e0;
$color-grey-grade3: #c2c2c2;
$color-grey-grade4: #878787;
$color-grey-grade5: #212121;
$color-grey-grade6: #d7d7d7;
$color-grey-grade7: #f9f9f9;
$color-grey-grade8: #9e9e9e;
$color-grey-grade9: #efefef;
$color-grey-grade10: #f5f5f5;
$color-grey-grade11: #aaa;
$color-grey-grade12: #dbdbdb;
$color-grey-grade13: #fbfbfb;
$color-grey-grade14: #666;
$color-grey-grade15: #f8f8f8;
$color-grey-grade16: #eee;
$color-grey-grade17: #9b9b9b;
$color-grey-grade18: #686868;
$color-grey-grade19: #eaeaea;
$color-grey-grade20: #e6e6e6;
$color-error-bg: #fff7f8;
$color-info-bg: #ffffe6;
$color-info-light-bg: #fffbf6;
$color-page-bg: #f1f3f6;
$color-green-bg: #f7fffa;
$color-blue-bg: #f5faff;
$color-vip-black-bg: #343c4e;
$color-grey-badge: #717171;
$color-grey-light: #d3d3d3;
$color-vendor-text: #3f3f3f;
$color-supermart-green: #26a541;
$color-dark-blue1: #1d6ded;
$color-light-blue: #f4f8ff;
$color-light-blue1: #bed5fa;
$color-light-blue2: #93b7f1;
$color-suparmart-fk-background: #258b3b;
$color-info-yellow: #fffdec;
$color-cobranded-footer-blue: #005387;
$color-pre-book-purple: #854987;
$color-light-pink: #fff0ff;
$color-light-orange: #fdf5e7;
$color-orange-bg: #fff7e1;
$color-bright-orange: #e79900;
$color-payment-orange: #ffc200;
$color-wishlist-red: #ff4343;
$color-light-green: #e7f8ec;

// font
$font-regular: 400;
$font-medium: 500;
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-default: 14px;
