@import "base/_reset.scss";
@import "abstract/_variables.scss";
@import "components/_components.scss";
@import "layout/_layout.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

html,
body {
  font-family: "Roboto";
}

.nav-wrap {
  background-color: $color-brand-blue;
  width: 100vw;
  height: 56px;
  position: fixed;
  align-items: center;
  z-index: 6;
}

.nav {
  min-width: 978px;
  width: calc(100% - 125px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.explore-plus,
.logo-wrap {
  a {
    font-style: italic;
    text-decoration: none;
    font-size: $font-size-11;
    margin-top: -1px;
    color: $color-white;
  }
}

.logo-wrap:hover {
  a {
    text-decoration: underline;
  }
}

.logo-wrap {
  a {
    span {
      color: $color-primary-yellow;
      font-weight: 500;
    }
  }
}

a {
  img {
    height: 10px;
    width: auto;
  }
}
.search-box {
  height: 50px;
  width: 560px;
  background-color: white;
  height: 36px;
  justify-content: flex-start;
  margin: 0 50px 0 12px;
}

.search-input,
.search {
  @include width-100;
  outline: none;
  border: none;
}

.search {
  padding: 0 16px;
}

.search-icon {
  padding: 10px 12px 0 8px;
}

.search-icon {
  svg {
    height: 20px;
    width: auto;
  }
}

.nav-left,
.nav-right,
.logo-wrap {
  height: 100%;
  @include border-box;
  align-items: center;
}

.logo-wrap {
  height: 100%;
  min-width: 80px;
}

.logo {
  width: 75px;
  height: auto;
}

.login-btn {
  color: $color-brand-bbd;
}

.more-btn,
.cart {
  padding: 0;
  color: $color-white;
}

.prod-categories-wrap {
  padding-top: 56px;
  width: 100%;
  background-color: $color-white-bg;
  margin: 0 auto;
}

.prod-categories {
  width: calc(100% - 130px);
  background-color: $color-white-bg;
  margin: 0 auto;
}

.category {
  padding: 12px 8px;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  font-size: $font-size-14;
  font-weight: $font-medium;
}

.category-img-wrap {
  height: 64px;
  width: auto;
}

.category-img {
  height: 64px;
  width: auto;
}

.svg-arrow {
  height: 8px;
  width: 5px;
  transform: rotate(270deg);
}

.category-name {
  padding: 3px 0 0;
}
.category:hover .category-name,
.category:hover .svg-arrow-fill {
  color: $color-brand-bbd;
  fill: $color-brand-bbd;
}

.category:hover .category-name .svg-arrow,
.more-btn:hover .svg-arrow {
  transform: rotate(90deg);
  transition: ease-in-out 0.25s;
}

.more-btn {
  .svg-arrow path {
    fill: $color-white;
    color: $color-white;
  }
}

.main-content-wrapper,
.main-content,
.carousel {
  background-color: $color-page-bg;
  overflow: hidden;
}
.carousel {
  margin: 20px 10px 10px 10px;
}

.carousel {
  figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
    img {
      width: 20%;
      float: left;
    }
  }
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.product-slider-wrap {
  margin: 10px;
  box-sizing: border-box;
}
.product-slider-wrap,
.product-slider,
.super-saver {
  background-color: $color-white-bg;
  width: 100%;
}
.super-saver {
  max-width: 1065px;
}

.slider-title {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.title-text {
  font-size: $font-size-22;
  font-weight: $font-medium;
}

.sub-title {
  font-size: $font-size-14;
  font-weight: $font-regular;
  color: $color-grey-grade17;
}

.view-btn {
  background-color: $color-brand-blue;
  color: $color-white;
  max-width: 150px;
  padding: 10px 20px;
  font-size: $font-size-13;
}

.slider-content {
  width: 100%;
  overflow: hidden;
}

.slider-card {
  padding: 25px 15px;
  height: 287px;
  width: 100%;
  max-width: 195px;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: $font-size-14;
}

.card-img-wrap {
  height: 150px;
  width: auto;
  margin: auto;
}

.card-img-wrap {
  height: auto;
  width: auto;
}

.card-info {
  text-align: center;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-name {
  font-weight: $font-medium;
}

.prod-price,
.prod-keywords,
.sub-title {
  font-weight: $font-regular;
  padding-top: 7px;
}

.prod-price {
  color: $color-supermart-green;
}

.prod-keywords {
  color: $color-grey-grade17;
}
