@import "base/_reset.scss";
@import "abstract/_variables.scss";
@import "components/_components.scss";
@import "layout/_layout.scss";

.nav-wrap {
  background-color: $color-brand-blue;
  min-width: 978px;
  width: 100%;
  height: 56px;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 50px;
  width: 500px;
  background-color: white;
}
