@import "base/_reset.scss";
@import "abstract/_variables.scss";
@import "components/_components.scss";
@import "layout/_layout.scss";

.nav-wrap {
  background-color: $color-brand-blue;
  width: 100vw;
  height: 56px;
  position: fixed;
  align-items: center;
}

.nav {
  min-width: 978px;
  width: calc(100% - 125px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.search-box {
  height: 50px;
  width: 500px;
  background-color: white;
  height: 36px;
  justify-content: flex-start;
  margin: 0 auto 0 12px;
}

.search-input,
.search {
  @include width-100;
  outline: none;
  border: none;
}

.search {
  margin-right: 30px;
  padding: 0 16px;
}

.search-icon {
  padding: 10px 12px 0 8px;
}

.search-icon svg {
  height: 20px;
  width: auto;
}

.nav-left,
.nav-right,
.logo-wrap {
  @include height-100;
  @include border-box;
  align-items: center;
}

.logo-wrap {
  @include height-100;
  min-width: 137px;
}

.logo {
  width: 75px;
  height: auto;
}

.login-btn {
  color: $color-brand-bbd;
}

.more-btn,
.cart {
  padding: 0;
  color: $color-white;
}
