@import "../abstract/_variables.scss";

// buttons
@mixin basic-btn {
  border-radius: 2px;
  height: 32px;
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-size: $font-size-16;
  font-weight: $font-medium;
  flex: 0 0 auto;
  margin: 0 20px;
  max-width: 150px;
}

.btn-1 {
  @include basic-btn;
  padding: 5px 40px;
  background-color: $color-white-bg;
}

.btn-2 {
  @include basic-btn;
}
