@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-1 {
  border-radius: 2px;
  height: 32px;
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  flex: 0 0 auto;
  margin: 0 20px;
  max-width: 150px;
  cursor: pointer;
  padding: 5px 40px;
  background-color: #fff;
}

.btn-2 {
  border-radius: 2px;
  height: 32px;
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  flex: 0 0 auto;
  margin: 0 20px;
  max-width: 150px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

html,
body {
  font-family: "Roboto";
}

.nav-wrap {
  background-color: #2874f0;
  width: 100vw;
  height: 56px;
  position: fixed;
  align-items: center;
  z-index: 6;
}

.nav {
  min-width: 978px;
  width: calc(100% - 125px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.explore-plus a,
.logo-wrap a {
  font-style: italic;
  text-decoration: none;
  font-size: 11px;
  margin-top: -1px;
  color: #f0f0f0;
}

.logo-wrap:hover a {
  text-decoration: underline;
}

.logo-wrap a span {
  color: #ffe11b;
  font-weight: 500;
}

a img {
  height: 10px;
  width: auto;
}

.search-box {
  height: 50px;
  width: 560px;
  background-color: white;
  height: 36px;
  justify-content: flex-start;
  margin: 0 50px 0 12px;
}

.search-input,
.search {
  width: 100%;
  outline: none;
  border: none;
}

.search {
  padding: 0 16px;
}

.search-icon {
  padding: 10px 12px 0 8px;
}

.search-icon svg {
  height: 20px;
  width: auto;
}

.nav-left,
.nav-right,
.logo-wrap {
  height: 100%;
  box-sizing: border-box;
  align-items: center;
}

.logo-wrap {
  height: 100%;
  min-width: 80px;
}

.logo {
  width: 75px;
  height: auto;
}

.login-btn {
  color: #2455f4;
}

.more-btn,
.cart {
  padding: 0;
  color: #f0f0f0;
}

.prod-categories-wrap {
  padding-top: 56px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.prod-categories {
  width: calc(100% - 130px);
  background-color: #fff;
  margin: 0 auto;
}

.category {
  padding: 12px 8px;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
}

.category-img-wrap {
  height: 64px;
  width: auto;
}

.category-img {
  height: 64px;
  width: auto;
}

.svg-arrow {
  height: 8px;
  width: 5px;
  transform: rotate(270deg);
}

.svg-cart {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.category-name {
  padding: 3px 0 0;
}

.category:hover .category-name,
.category:hover .svg-arrow-fill {
  color: #2455f4;
  fill: #2455f4;
}

.category:hover .category-name .svg-arrow,
.more-btn:hover .svg-arrow {
  transform: rotate(90deg);
  transition: ease-in-out 0.25s;
}

.more-btn .svg-arrow path {
  fill: #f0f0f0;
  color: #f0f0f0;
}

.main-content-wrapper,
.main-content,
.carousel {
  background-color: #f1f3f6;
  overflow: hidden;
}

.carousel {
  margin: 20px 10px 10px 10px;
}

.carousel figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s slider infinite;
}
.carousel figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.product-slider-wrap {
  margin: 10px;
  box-sizing: border-box;
  max-height: 370px;
}

.product-slider,
.super-saver {
  background-color: #fff;
  width: 100%;
}

.super-saver {
  max-width: 1065px;
}

.slider-title {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.title-text {
  font-size: 22px;
  font-weight: 500;
}

.sub-title {
  font-size: 14px;
  font-weight: 400;
  color: #9b9b9b;
}

.view-btn {
  background-color: #2874f0;
  color: #f0f0f0;
  max-width: 150px;
  padding: 10px 20px;
  font-size: 13px;
}

.slider-content {
  width: 100%;
  overflow: hidden;
}

.slider-card {
  padding: 25px 15px;
  height: 287px;
  width: 100%;
  max-width: 195px;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 14px;
}

.card-img-wrap {
  height: 150px;
  width: auto;
  margin: auto;
}

.card-img-wrap {
  height: auto;
  width: auto;
}

.card-info {
  text-align: center;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-name {
  font-weight: 500;
}

.prod-price,
.prod-keywords,
.sub-title {
  font-weight: 400;
  padding-top: 7px;
}

.prod-price {
  color: #26a541;
}

.prod-keywords {
  color: #9b9b9b;
  background-color: #fff;
}

.ad-card {
  padding: 4px;
}
.ad-card .ad-img {
  height: 100%;
  padding: 0px 0px 10px 10px;
}
.ad-card .ad-img img {
  height: 100%;
  width: auto;
}

.offers-wrap {
  margin: 10px;
  width: 100%;
  padding: 10px;
}
.offers-wrap a img {
  max-height: 235px;
  height: 100%;
}

.slider-card:hover {
  cursor: pointer;
}
.slider-card:hover .card-img-wrap {
  position: relative;
  transform: scale(1.05);
  transition: 0.1s;
}

.brand-directory-wrap {
  padding: 25px;
}

.brand-directory-title {
  padding: 14px 0;
  margin-top: 14px;
}

/*# sourceMappingURL=main.css.map */
